<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3_GUI_PresentationLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_3_GUI_PresentationLayer.Properties.Settings>
            <setting name="_user" serializeAs="String">
                <value />
            </setting>
            <setting name="_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="_TKdaLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="_MKdaLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="_SaveInfo" serializeAs="String">
                <value>False</value>
            </setting>
        </_3_GUI_PresentationLayer.Properties.Settings>
    </userSettings>
</configuration>